@model IEnumerable<Product>
@{
	ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th style="width:100px;">
				@Html.DisplayNameFor(model => model.ProductId)
			</th>
			<th style="width:100px;">
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th style="width:100px;">
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th style="width:130px;">
				Controls
			</th>
		</tr>
	<tbody>
			@foreach (var prd in @Model)
			{
			<tr>
				<td>@prd.ProductId</td>
				<td>
					<img src="~/img/@prd.Image" alt="Product Image" class="img-fluid">
				</td>
				<td>@prd.Name</td>
				<td>@prd.Price</td>
				<td>
					<a href="" class="btn btn-sm btn-primary">Edit</a>
					<a href="" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
			}
	</tbody>
	</thead>
</table>
